<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Users</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-user-modal">
                      + Add
                  </button>
                  <div class="row" style="margin-top: 10px;">
                        <div class="table-responsive">
                          <div style="overflow-x:auto;">
                            <table class="table table-striped table-bordered table-hover" id="Users-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>AccountID</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
<form id="update_form" role="form">
  <fieldset>
    <div class="item">
      User ID
        <input id="id" type="text" name="id" placeholder="id" required/>&emsp;

      Name
        <input id="name" type="text" name="name" placeholder="name" required/>&emsp;

      Email
        <input id="email" type="text" name="email" placeholder="email" required/>&emsp;
    </div>
    <br>
  <div class="item">
    <button id="update-link" type="button" class="btn btn-warning" onclick="updateUser()"> UPDATE USER </button>
  </div>
</form>
                          </div>
                          <!-- /.table-responsive -->
                          </div>
                          <!-- /.row -->
                          </div>
                          <!-- /.container-fluid -->
                          </div>
<!-- /#page-wrapper -->
<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form role="form" id="add-user">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add User</h4>
            </div>
            <div class="modal-body">
                  <div class="form-group">
                      <label>Account</label>
                      <input type="text" name="account" class="form-control" placeholder="Enter account name" required minlength="8">
                  </div>
                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" name="name" class="form-control" placeholder="Enter user name" required minlength="3">
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="email" class="form-control" placeholder="Enter email" required minlength="8">
                  </div>
                  <div class="form-group">
                      <label>Password</label>
                      <input type="password" name="password" class="form-control" placeholder="Enter password" required minlength="5">
                  </div>
                  <div class="form-group">
                      <label>Status</label>
                      <input type="text" name="status" class="form-control" placeholder="Enter status" required minlength="3">
                  </div>
                  <div class="form-group">
                      <label>Role</label>
                      <input type="text" name="role" class="form-control" placeholder="Enter role" required minlength="3">
                  </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">

  $("#add-user").validate({
    submitHandler: function(form, event) {
      event.preventDefault();

      console.log(jsonize_form($(form)));
      addUser(jsonize_form($(form)));
    }
  });

  getUsers();

  function addUser(user){
    $.ajax({
         url: "api/admin/register",
         type: "POST",
         data: user,
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           toastr.success("User has been created");
           getUsers();
           $("#add-user").trigger("reset");
           $('#add-user-modal').modal("hide");
           console.log(data);
         },
         error: function(jqXHR, textStatus, errorThrown ){
           console.log(jqXHR);
         }
      });
  }

  function getUsers(){

    $.ajax({
         url: "api/admin/users?order="+encodeURIComponent("+id"),
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           console.log(data);
           var html = "";
           for(var i = 0; i < data.length; i++){
             html += '<tr class="odd">'
                 +'<td>'+data[i].id+'</td>'
                 +'<td>'+data[i].name+'</td>'
                 +'<td>'+data[i].email+'</td>'
                 +'<td>'+data[i].password+'</td>'
                 +'<td>'+data[i].account_id+'</td></tr>';
           }

           $("#Users-table tbody").html(html);
           $("#Users-table").DataTable();
         }
      });
  }

    function updateUser(){
      var userr_info = {
          'id' : $('#id').val(),
          'email' : $('#email').val(),
          'name' : $('#name').val()
      }
      $.ajax({
           url: 'api/users/'+userr_info.id,
           type: 'PUT',
           data: JSON.stringify(userr_info),
           contentType: "application/json",
           success: function(data) {
             toastr.success("User has been updated");
             getUsers();
             $("#update-account").trigger("reset");
             console.log(data);
           },
        });
  }

</script>
